/*
.root{
    -fx-background-image: url("background.jpg");
}
#try {
    -fx-background-image: url("background.jpg");
}
*/
.table-view .column-header-background {
    -fx-background-color: #651FFF;

}

.table-view .column-header,
.table-view .filler {
    -fx-size: 50px;
    -fx-border-width: 0 0 2 0;
    
    -fx-font-size: 18px;
    -fx-border-top-left-radius: 5px;
    -fx-border-top-right-radius: 5px;
    -fx-background-color: transparent;
}
.table-view .column-header.label{
    -fx-text-fill : white
}